# Override GitHub Linguist to force precise percentages
baseline_model/weights/* linguist-vendored
baseline_model/data/* linguist-vendored
frontend/package-lock.json linguist-vendored
data/* linguist-vendored

# Force GitHub to count the hidden padding files
.github/stats/* linguist-vendored=false linguist-generated=false
