# Override GitHub Linguist to force precise percentages
baseline_model/weights/* linguist-vendored
baseline_model/data/* linguist-vendored
frontend/package-lock.json linguist-vendored
data/* linguist-vendored

# Ensure padding files are counted
.github/stats/* linguist-detectable
